<div class="{{NS}}--preview {{if loading 'invisible'}}" style={{previewStyle}}>
  <div class="{{NS}}--preview-bg">
    <img src={{image}} alt="Image Crop Preview" style={{imageStyle}}>
  </div>

  <div class="{{NS}}--preview-mask" style={{previewStyle}}>
    <img src={{image}} alt="Image Crop Preview"
      class="{{NS}}--preview-image"
      data-slide-crop-preview="true"
      style={{imageStyle}}>
  </div>
</div>

<div class="{{NS}}--controls">
  {{slide-crop-slider value=zoom min=minZoom max=maxZoom}}
</div>

{{yield (hash cropAction=(action "crop"))}}
